#VBox{
    -fx-background-image: url("/Application/Resources/Background/questionMarks_background.jpg");
    /* -fx-background-repeat: stretch; */
    -fx-background-size: 3000 2000;
    -fx-background-position: center center;
}